html, body{
  margin: 0px;
  padding: 0px;
}

.chatbot-flexbox {
}

.channels-flexbox {
  height: 100vh;
}

.chats-flexbox {
  height: 100vh;
  background-color: green;
}

.channels {
  width: 100%;
}

.chats {
  width: 100%;
}

.channel-header {
  padding: 19px 10px 19px 10px;
  background-color: lightblue;
}

.channel-list {
  width: 100%;
  overflow-y: auto;
  margin: 0;
  padding: 0;
}

.channel-list-line {
  height: 1px;
  background-color: lightgrey;
}

.channel-button {
  width: 100%;
  border: none;
  background-color: white;
  padding: 20px 0px 20px 0px;
}

.channel-button:hover {
  background-color: lightgrey;
}

.channel-button:active {
  background-color: green;
}

.channel-button.active {
  background-color: lightgreen;
}

.channel-button-img {
  padding: 0px 20px 0px 20px;
  clip-path: circle(30px);
}

.channel-button-title {
  width: 100px;
  padding: 0px 20px 0px 20px;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.channel-button-subtitle {
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}

.channel-button-status {
  padding: 0px 10px 0px 10px;
}
